<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      <center>{{ .Site.Data.projects.description }}</center>
      <ul class="timeline">
        {{ range .Site.Data.projects.source }}
          <li>
            <div class="{{ .direction }}">
              <div class="flag-wrapper">
                <span class="flag"><strong><a href="{{ .url }}">{{ .name }}</a></strong></span>
                <span class="time-wrapper"><span class="time">{{ .time }}</span></span>
              </div>
              <div class="desc">{{ .description }}</div>
            </div>
          </li>
        {{ end }}
      </ul>
      </div>
    </div>
  </div>
</section>
