{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <div class="container">
    <h3 class="mt-3"><b><a href="{{ .Permalink }}">{{ .Title }}</a></b></h3>
    <div class="blog-title my-4">
      <h6>
        {{ .Date.Format "January 2, 2006" }}
        &nbsp;&nbsp;
        {{ range .Params.tags }}
          <span class="badge bg-success">{{ . }}</span>
        {{ end }}
      </h6>
    </div>
    <div class="panel">
      <div class="panel-body">
        <div class="blogpost">
          {{ .Content }}
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}
            <div class="related-posts mt-4 py-3">
              <h5>Related Posts</h5>
              {{ range . }}
                <div class="row">
                  <div class="col-4">
                    <h6 style="text-align: right">
                      {{ .Date.Format "January 2, 2006" }}
                    </h6>
                  </div>
                  <div class="col-8">
                    <h6 style="text-align: left">
                      <b><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></b>
                    </h6>
                  </div>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="disqus">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
{{ end }}
