{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          {{ if .Site.Params.avatarUrl }}
          <img class="img-circle" src="{{ .Site.Params.avatarUrl }}" alt="Profile picture" />
          {{ else }}
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Profile picture" />
          {{ end }}
        </div>
        {{ .Site.Params.about | safeHTML }}
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
