{{ define "main" }}
  {{ partial "header" . }}

  <section id="about">
    <div class="container">
      <div class="avatar mb-5">
        <img class="rounded-circle" src="{{ .Site.Params.avatar }}" alt="Responsive image">
      </div>
      {{ .Content }}
      {{ partial "social.html" . }}

      <a class="twitter-timeline" href="https://twitter.com/JackBonnell2?ref_src=twsrc%5Etfw">Tweets by JackBonnell2</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
  </section>
{{ end }}
